.loader-container {
  display: none;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #4e75ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: 24px;
  letter-spacing: 4%;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 16px;
}
.container .form {
  padding: 36px 0 32px 0;
}
.form {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: center;
}
.search-input {
  padding: 8px 16px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.search-input:focus {
  border-color: #4e75ff;
  outline: none;
}
.primary-btn {
  height: 40px;
  background-color: #4e75ff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}
.primary-btn:hover {
  background-color: #6c8cff;
}

.loader {
  display: none;
  justify-content: center;
  align-items: center;
}
.btn-block {
  display: flex;
  justify-content: center;
}
.load-more-btn {
  display: none;
  justify-content: center;
  margin: 32px 0 44px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.photo-card {
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
  background: white;
}

.photo-img {
  width: 100%;
  height: 152px;
  object-fit: cover;
  display: block;
}

.photo-card .info {
  display: flex;
  justify-content: space-around;
  padding: 8px 16px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.info-item b {
  font-weight: 600;
}
